<!DOCTYPE HTML>
<!--
    Atmosphere by Pixelarity
    pixelarity.com | hello@pixelarity.com
    License: pixelarity.com/license
-->
<html>

<head>
    <title>Formulários</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
    
</head>

<body>

    <!-- Page wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <span class="logo">
                <a href="/">Formulários</a>
                <span>- Minos</span>
            </span>
            <a href="#menu">Menu</a>
        </header>

        <!-- Nav -->
        <nav id="menu">
            <div class="inner">
                <h2>Menu</h2>
                <ul class="links">
                    <li>
                        <a href="/alunos/formularios">Home</a>
                    </li>
                    <li>
                        <a href="/logout">Sair</a>
                    </li>
                </ul>
                <a class="close">Close</a>
            </div>
        </nav>

        <!-- Main -->
        <section id="main" class="wrapper alt">
            <div class="inner">
                <section class="spotlights">
                        <div class="row uniform" align="center">
                            {%- for formulario, progresso, pergunta in page -%}
                            <div>
                                <div class="card  text-center" style="width: 18rem;">
                                    <div class="card-header">
                                        <h5 class="card-title">{{ formulario.titulo }}</h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">{{ formulario.descricao }}</p>
                                        <div class="card-body">
                                            <div class="progress " align="center">
                                                <div class="progress-bar bg-success" style="width: {{ progresso|string + '%' }};" aria-valuenow="{{ progresso }}" aria-valuemin="0" aria-valuemax="100">{{ progresso }}%</div>
                                            </div>
                                        </div>
                                        {%- if progresso != 100 -%}
                                        <ul class="actions">
                                            <li>
                                                <a href="/alunos/pergunta/{{ formulario.key.id() }}/{{ pergunta }}" class="button special">Avaliar</a>
                                            </li>
                                        </ul>
                                        {%- endif -%}
                                    </div>
                                </div>
                            </div>
                            {%- endfor -%}
                        </div>
                </section>
            </div>
        </section>
        <!-- Footer -->
        <footer id="footer" style=" bottom: 0; width: 100%;">
            <div class="copyright">
                &copy; IFPB - Campus Guarabira. All rights reserved.
            </div>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/assets/js/main.js"></script>


</body>

</html>