{% extends "base2.html" %}

{% block title %}IFPB{% endblock %}

{% block subtitulo %}IFPB{% endblock %}

{% set alt = "alt" %}

{%- block base_content -%}
<!-- Banner -->
<section id="banner">
    <div class="inner">
        <form action="/" method="post">
                <h1>Avaliação de Curso</h1>
                <div class="field half">
                    <input autofocus name="mat" id="name" type="text" style="background-color: #35977f" placeholder="Matrícula">
                </div>
                <ul class="actions">
                    <li>
                        <input value="Avaliar" class="button big special" type="submit">
                    </li>
                </ul>
        </form>
    </div>
</section>
{%- endblock-%}
