
{% extends "base.html" %}

{% block title %} Questão{% endblock %}

{% block subtitulo %}Questão{% endblock %}

{%- block base_content -%}

<!-- Main -->
<section id="main" class="wrapper alt">
    <div class="inner">
        <div class="box">
            <!-- Content -->
            <header class="major">
                <p>{{ page.formulario.titulo }}</p>
                <h2>Questão</h2>
            </header>
            <center>
                <h1> {{ page.pergunta.enunciado }} </h1>
            </center>
            <center>
                <hr align="center" color="grey">
            </center>

            <form action="/alunos/pergunta/{{ page.formulario.key.id() }}/{{ page.pergunta.key.id() }}" method="post">
                <h3>Respostas:</h3>
                <div class="table-wrapper">
                    <table>
                        <tbody>
                            {%- set ID = { 'ID' : 0} -%}
                            {% for materia in page.materias -%}
                            {%- if page.pergunta.tipo == 1 -%}
                            <tr>
                                <td>
                                    <h3> {{ materia.titulo }}:</h3>
                                </td>
                                <td>
                                    <textarea name="{{ materia.titulo }}" id="{{ ID.ID }}" placeholder="Digite aqui sua resposta" rows="1" cols="50"></textarea> {%- if ID.update({'ID': ID['ID'] + 1}) -%} {%- endif-%}
                                </td>
                            </tr>

                            {%- elif page.pergunta.tipo == 2 -%}
                            <tr>
                                <td>
                                    <h3>{{ materia.titulo }}:</h3>
                                </td>
                                {% for resposta in page.pergunta.respostas -%}
                                <td>
                                    <input id="{{ ID.ID }}" type="radio" name="{{ materia.titulo }}" value="{{ resposta }}">
                                    <label for="{{ ID.ID }}">{{ resposta }}</label>
                                    {%- if ID.update({'ID': ID['ID'] + 1}) -%} {%- endif-%}
                                </td>
                                {%- endfor %}
                            </tr>

                            {%- else -%}
                            <tr>
                                <td>
                                    <h3>{{ materia.titulo }}:</h3>
                                </td>
                                {% for resposta in page.pergunta.respostas -%}
                                <td>
                                    <input id="{{ ID.ID }}" type="checkbox" name="{{ materia.titulo }}" value="{{ resposta }}"/>
                                    <label for="{{ ID.ID }}">{{ resposta }}</label>
                                    {%- if ID.update({'ID': ID['ID'] + 1}) -%} {%- endif-%}
                                </td>
                                {%- endfor %}
                            </tr>
                            {%- endif -%}
                            {%- endfor %}
                            {% if page.materias == [] -%}
                            {%- if page.pergunta.tipo == 1 -%}
                            <tr>
                                <td>
                                    <h3> Outros:</h3>
                                </td>
                                <td>
                                    <textarea name="outros" id="{{ ID.ID }}" placeholder="Digite aqui sua resposta" rows="1" cols="50"></textarea> {%- if ID.update({'ID': ID['ID'] + 1}) -%} {%- endif-%}
                                </td>
                            </tr>

                            {%- elif page.pergunta.tipo == 2 -%}
                            <tr>
                                <td>
                                    <h3>Outros:</h3>
                                </td>
                                {% for resposta in page.pergunta.respostas -%}
                                <td>
                                    <input id="{{ ID.ID }}" type="radio" name="outros" value="{{ resposta }}">
                                    <label for="{{ ID.ID }}">{{ resposta }}</label>
                                    {%- if ID.update({'ID': ID['ID'] + 1}) -%} {%- endif-%}
                                </td>
                                {%- endfor %}
                            </tr>

                            {%- else -%}
                            <tr>
                                <td>
                                    <h3>Outros:</h3>
                                </td>
                                {% for resposta in page.pergunta.respostas -%}
                                <td>
                                    <input id="{{ ID.ID }}" type="checkbox" name="outros" value="{{ resposta }}"/>
                                    <label for="{{ ID.ID }}">{{ resposta }}</label>
                                    {%- if ID.update({'ID': ID['ID'] + 1}) -%} {%- endif-%}
                                </td>
                                {%- endfor %}
                            </tr>
                            {%- endif -%}
                            {%- endif %}
                        </tbody>
                    </table>

                    <center>
                        <hr align="center" color="grey">
                    </center>
                    <div class="12u$">
                        <ul class="actions">
                            <center>
                                <li>
                                    <a href="/alunos/formularios" class="button">Cancelar</a>
                                </li>
                                <li>
                                    <input type="submit" value="Enviar resposta" />
                                </li>
                            </center>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{%- endblock -%}