
{% extends "base.html" %}

{% block title %} Administrador{% endblock %}

{% block subtitulo %}Administrador{% endblock %}

{%- block base_content -%}

<!-- Main -->
<section id="main" class="wrapper alt">
    <div class="inner">

        <center>
            <h1>Administração</h1>
        </center>
        <center>
            <hr align="center" color=grey>
        </center>
        <div>
            <div class="12u">
                <center>
                    <!-- Buttons -->
                    <ul class="actions">
                        <li>
                            <a href="/listaralunos" class="button special big">ALUNOS</a>
                        </li>
                        <li>
                            <a href="/listarmaterias" class="button special big">MATÉRIAS</a>
                        </li>
                        <li>
                            <a href="/listarformularios" class="button special big">FORMULÁRIOS</a>
                        </li>
                        <li>
                            <a href="/listarperguntas" class="button special big">PERGUNTAS</a>
                        </li>
                    </ul>
                </center>
            </div>
            <div class="12u$">
                {%- if page -%}

                {%- from "funcoes.html" import tabela -%}

                {{ tabela(
                    title=page.objects,
                    group_objects_nh=page.objects_nh,
                    button=page.button)
                }}

                {%- endif -%}
            </div>
        </div>
    </div>
</section>

{%- endblock -%}
