
{% extends "base.html" %}

{% block title %} Administrador{% endblock %}

{% block subtitulo %}Administrador{% endblock %}

{%- block base_content -%}

<!-- Main -->
<section id="main" class="wrapper alt">
    <div class="inner">

        <center>
            <h1>Administração</h1>
        </center>
        <center>
            <hr align="center" color=grey>
        </center>
        <div>
            <div class="12u 12u$(small)">
                <center>
                    <!-- Buttons -->
                    <ul class="actions">
                        <li>
                            <a href="/admin/alunos" class="button special big">ALUNOS</a>
                        </li>
                        <li>
                            <a href="/admin/materias" class="button special big">MATÉRIAS</a>
                        </li>
                        <li>
                            <a href="/admin/formularios" class="button special big">FORMULÁRIOS</a>
                        </li>
                        <li>
                            <a href="/admin/perguntas" class="button special big">PERGUNTAS</a>
                        </li>
                        <li>
                            <a href="/listarresultados" class="button special big">RESULTADOS</a>
                        </li>
                    </ul>
                </center>
            </div>
            {%- block table -%} {%- endblock -%}
        </div>
    </div>
</section>

{%- endblock -%}
