
{% extends "base.html" %}

{% block title %} Pergunta{% endblock %}

{% block subtitulo %}Pergunta{% endblock %}

{%- block base_content -%}

<!-- Main -->
<section id="main" class="wrapper alt">
    <div class="inner">
        <center>
            <header class="major">
                <h2>Criando Pergunta</h2>
            </header>
        </center>

        <div id="formul" class="box">
            <form id="formu" action="/pergunta/criar" method="post">
                <center>
                <h3>Questão</h3>
                <div class="6u 12u$(small)">
                    <label id="q2">Enunciado:
                        <input type="text" name="enunciado">
                    </label>
                </div>
                <div class="6u 12u$(small)">
                    <label>Avaliado</label>
                    <div class="row uniform">
                        <div class="6u 12u$(small)">
                            <input type="radio" id="add_radio_materias" name="avaliado" value="materias">
                            <label for="add_radio_materias">Matérias</label>
                        </div>
                        <div class="6u 12u$(small)">
                            <input type="radio" id="add_radio_outros" name="avaliado" value="outros">
                            <label for="add_radio_outros">Outros</label>
                        </div>
                    </div>
                </div>
                <div class="6u 12u$(small)" style="padding-top: 12px;">
                    <label>Tipo</label>
                    <div class="row uniform">
                        <div class="4u 12u$(small)">
                            <input type="radio" id="add_radio" name="tipo" value="radio">
                            <label for="add_radio">Escolha Única</label>
                        </div>
                        <div class="4u 12u$(small)">
                            <input type="radio" id="add_marcar" name="tipo" value="marcar">
                            <label for="add_marcar">Múltipla Escolha</label>
                        </div>
                        <div class="4u$ 12u$(small)">
                            <input type="radio" id="add_texto" name="tipo" value="texto">
                            <label for="add_texto">Aberta</label>
                        </div>
                    </div>
                </div>
                <div class="6u 12u$(small)" style="padding-top: 12px;">
                    <label>Respostas</label>
                    <div>
                        <table>
                            <tbody id="respostas">
                            </tbody>
                        </table>
                    </div>
                </div>

                <ul id="botoes2" class="actions">
                    <li>
                        <a href="/admin/perguntas" class="button">Cancelar</a>
                    </li>
                    <li>
                        <input type="submit" value="Concluir" />
                    </li>
                </ul>
                </center>
            </form>
        </div>
    </div>
</section>
{%- endblock -%}

{% block scripts %}  {% endblock %}
