 
{% extends "base.html" %}

{% block title %} Turma{% endblock %}

{% block subtitulo %}Turma{% endblock %}

{%- block base_content -%}
<section id="main" class="wrapper alt">
    <div class="inner">

        <center>
            <h1>Criar Turma</h1>
        </center>

        <form action="/turma/criar" method="post">

            <section class="spotlights">
                <article>
                    <center>
                        <h3>Turma</h3>
                        <div class="row">
                            <div class="9u 12u$(small)">
                                <label for="inp1">Periodo:</label>
                                <input id="inp1" type="text" class="demo-name" name="periodo" value="">
                            </div>
                        </div>
                    </center>
                </article>
            </section>

            <div class="box">
                <center>
                    <h3>Cursos</h3>
                </center>
                <div class="table-wrapper box" style="height: 440px;">
                    <table>
                        <thead>
                            <tr>
                                <th>Cod</th>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Opção</th>
                            </tr>
                        </thead>
                        <tbody id="tbcursos"></tbody>
                        <tfoot id="tfcursos">
                            <tr>
                                <td>Total</td>
                                <td colspan="2"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="box">
                <center>
                    <h3>Alunos</h3>
                </center>
                <div class="table-wrapper box" style="height: 440px;">
                    <table>
                        <thead>
                            <tr>
                                <th>Matricula</th>
                                <th>Nome</th>
                                <th>Periodo</th>
                                <th>Opção</th>
                            </tr>
                        </thead>
                        <tbody id="tbalunos"></tbody>
                        <tfoot id="tfalunos">
                            <tr>
                                <td>Total</td>
                                <td colspan="2"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>


            <div class="box">
                <center>
                    <h3>Matérias</h3>
                </center>
                <div class="table-wrapper box" style="height: 440px;">
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Titulo</th>
                                <th>Periodo</th>
                                <th>Opção</th>
                            </tr>
                        </thead>
                        <tbody id="tbmats"></tbody>
                        <tfoot id="tfmats">
                            <tr>
                                <td>Total</td>
                                <td colspan="2"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div>
                <center>
                    <ul class="actions">
                        <li>
                            <a href="/admin/turmas" class="button">Cancelar</a>
                        </li>
                        <li>
                            <input type="submit" value="Concluir">
                        </li>
                    </ul>
                </center>
            </div>
        </form>
    </div>
</section>

{%- endblock -%}

{% block scripts %}

<script src="/assets/js/Admin/listar_materias_update.js"></script>
<script src="/assets/js/Admin/listar_alunos_update.js"></script>
<script src="/assets/js/Admin/listar_cursos_update.js"></script>

{% endblock %}
