
{% extends "base.html" %}

{% block title %} Criar Pergunta{% endblock %}

{% block subtitulo %}Pergunta{% endblock %}

{%- block base_content -%}

<!-- Main -->
<section id="main" class="wrapper alt">
    <div class="inner">
        <center>
            <header class="major">
                <h2>Criando Pergunta</h2>
            </header>
        </center>

        <div id="formul" class="box">
            <form id="formu" action="/criarpergunta" method="post">
                <table id="tabb">
                </table>
                <center>
                    <div class="12u$">
                        <ul id="botoes1" class="actions">
                            <center>
                                <li>
                                    <input type="button" id="add_radio" value="Adicionar questao de escolha única" />
                                </li>
                                <li>
                                    <input type="button" id="add_texto" value="Adicionar questao Aberta" />
                                </li>
                                <li>
                                    <input type="button" id="add_marcar" value="Adicionar questao de múltipla escolha" />
                                </li>
                            </center>
                        </ul>
                        <ul id="botoes2" class="actions">
                            <li>
                                <a href="/admin" class="button">Cancelar</a>
                            </li>
                            <li>
                                <input type="submit" value="Concluir" />
                            </li>
                        </ul>
                    </div>
                </center>
            </form>
        </div>
    </div>
</section>

{%- endblock -%}
