{% extends "base.html" %}

{% block title %} Matéria{% endblock %}

{% block subtitulo %}Matéria{% endblock %}

{%- block base_content -%}

<section id="main" class="wrapper alt">
    <div class="inner">

        <center>
            <h1>Editar Matéria</h1>
        </center>

        <form action="/materia/{{ page.materia.key.id() }}/atualizar" method="put">

            <section class="spotlights">
                <article>
                    <center>
                        <h3>Matéria</h3>
                    </center>
                    <div class="row">
                        <div class="9u 12u$(small)">
                            <label for="inp1">Titulo:</label>
                            <input id="inp1" type="text" class="demo-name" name="titulo" value="{{ page.materia.titulo }}" >
                            <label for="inp2">Professor:</label>
                            <input id="inp2" type="text" class="demo-name" name="professor" value="{{ page.materia.professor }}" >
                            <label for="inp3">Periodo:</label>
                            <input id="inp3" type="text" class="demo-name" name="periodo" value="{{ page.materia.periodo }}" >
                        </div>
                    </div>
                </article>
            </section>


            <div class="box">
                <center>
                    <h3>Formulários</h3>
                </center>
                <div class="table-wrapper box" style="height: 440px;">
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Titulo</th>
                                <th>Descrição</th>
                                <th>Opção</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%- for formulario in page.formularios.atuais -%}
                            <tr><td>{{ formulario.user_id }}</td><td>{{ formulario.titulo }}</td><td>{{ formulario.descricao }}</td><td><input id="{{'forma' + loop.index|string }}" type="checkbox" name="formulario" value="{{ formulario.key.id() }}" checked><label for="{{'forma' + loop.index|string }}"></label></td></tr>
                            {%- endfor -%}
                            {%- for formulario in page.formularios.outras -%}
                            <tr><td>{{ formulario.user_id }}</td><td>{{ formulario.titulo }}</td><td>{{ formulario.descricao }}</td><td><input id="{{'formo' + loop.index|string }}" type="checkbox" name="formulario" value="{{ formulario.key.id() }}"><label for="{{'formo' + loop.index|string }}"></label></td></tr>
                            {%- endfor -%}
                        </tbody>
                    </table>
                </div>
            </div>

            <div>
                <center>
                    <ul class="actions">
                        <li>
                            <a href="/admin/materias" class="button">Cancelar</a>
                        </li>
                        <li>
                            <input type="submit" value="Concluir">
                        </li>
                    </ul>
                </center>
            </div>
        </form>
    </div>
</section>

{%- endblock -%}

{% block scripts %} {% endblock %}
