
{% extends "base.html" %}

{% block title %} Pergunta{% endblock %}

{% block subtitulo %}Pergunta{% endblock %}

{%- block base_content -%}

<!-- Main -->
<section id="main" class="wrapper alt">
    <div class="inner">
        <center>
            <header class="major">
                <h2>Editando Pergunta</h2>
            </header>
        </center>

        <div id="formul" class="box">
            <form id="formu" action="/pergunta/{{ page.pergunta.key.id() }}/atualizar" method="put">
                <center>
                <h3>Questão</h3>
                <div class="6u 12u$(small)">
                    <label id="q2">Enunciado:
                        <input type="text" name="enunciado" value="{{ page.pergunta.enunciado }}">
                    </label>
                </div>
                <div class="6u 12u$(small)">
                    <label>Tipo</label>
                    <div class="row uniform">
                        <div class="4u 12u$(small)">
                            <input type="radio" id="add_radio" name="tipo" value="radio" {%- if page.pergunta.tipo == 2 -%} checked {%- endif -%}>
                            <label for="add_radio">Escolha Única</label>
                        </div>
                        <div class="4u 12u$(small)">
                            <input type="radio" id="add_marcar" name="tipo" value="marcar"{%- if page.pergunta.tipo == 3 -%} checked {%- endif -%}>
                            <label for="add_marcar">Múltipla Escolha</label>
                        </div>
                        <div class="4u$ 12u$(small)">
                            <input type="radio" id="add_texto" name="tipo" value="texto" {%- if page.pergunta.tipo == 1 -%} checked {%- endif -%}>
                            <label for="add_texto">Aberta</label>
                        </div>
                    </div>
                </div>
                <div class="6u 12u$(small)" style="padding-top: 12px;">
                    <label>Respostas</label>
                    <div>
                        <table>
                            <tbody id="respostas">
                                {%- for resposta in page.pergunta.respostas -%}
                                <tr class="icons">
                                    <td class="icon fa-check-{{ 'circle' if page.pergunta.tipo == 2 else 'square' }}-o"></td>
                                    <td>
                                        <input type="text" name="resposta" value="{{ resposta }}" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger add_linha_{{ 'radio' if page.pergunta.tipo == 2 else 'marcar' }}">ADD</button>
                                        <button type="button" class="btn btn-danger btn_remove_line">X</button>
                                    </td>
                                </tr>
                                {%- endfor -%}
                            </tbody>
                        </table>
                    </div>
                </div>

                <ul id="botoes2" class="actions">
                    <li>
                        <a href="/listarperguntas" class="button">Cancelar</a>
                    </li>
                    <li>
                        <input type="submit" value="Concluir" />
                    </li>
                </ul>
                </center>
            </form>
        </div>
    </div>
</section>
{%- endblock -%}

{% block scripts %}  {% endblock %}
