
{% extends "Admin/administrador.html" %}

{%- block table -%}

<div class="12u$">
    <div class="box">
        <div class="row uniform">
            <div class="6u 12u$(medium)">
                <center>
                    <header>
                        <h1>Cursos</h1>
                    </header>
                </center>
            </div>
            <div class="6u$ 12u$(medium)">
                <center>
                    <ul class="actions">
                        <li>
                            <a href="/curso/view_criar" class="button special big">ADICIONAR</a>
                        </li>
                    </ul>
                </center>
            </div>
        </div>
        <div class="table-wrapper box" style="height: 440px;">
            <table id="myTable">
                <thead>
                    <tr>
                        <th>Cod</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Opção</th>
                    </tr>
                </thead>
                <tbody id="tbcursos"></tbody>
                <tfoot id="tfcursos">
                    <tr>
                        <td>Total</td>
                        <td colspan="2"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

{%- endblock -%}

{% block scripts %} <script src="/assets/js/Admin/listar_cursos.js"></script> {% endblock %}
