
{% extends "Admin/administrador.html" %}

{%- block table -%}

<div class="12u$">
    <div class="box">
        <div class="row uniform">
            <div class="6u 12u$(medium)">
                <center>
                    <header>
                        <h1>Relatórios</h1>
                    </header>
                </center>
            </div>
            <div class="6u$ 12u$(medium)">
                <center>
                    <ul class="actions">
                    </ul>
                </center>
            </div>
        </div>
        <div class="table-wrapper box" style="height: 440px;">
            <table id="myTable">
                <thead>
                    <tr>
                        <th>Nome Formulario</th>
                        <th>Link de Download</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for form in page.formularios -%}
                    <tr>
                        <td>{{ form.titulo }}</td>
                        <td>
                            <button class="button special big" onclick="exportXLSX({{ form.key.id() }})">Download</a>
                        </td>
                    </tr>
                    {%- endfor -%}
                </tbody>
            </table>
        </div>
    </div>
</div>

{%- endblock -%}

{% block scripts %}
<script type="text/javascript" src="/assets/js/xlsx/shim.min.js"></script>
<script type="text/javascript" src="/assets/js/xlsx/xlsx.full.min.js"></script>
<script src="https://d3js.org/d3-collection.v1.min.js"></script>
<script>
    function exportXLSX(id){
        var resultados = null;
        $.getJSON("/resultados/" + id).done(function(data){
            resultados = data;
            if(resultados){
                var saida = ["Matricula", "Curso", "Periodo", "Avaliado", "Enunciado", "Resposta"];
                // for( i =0; i < resultados.resultados.length; i++){
                //     var obj = JSON.parse(resultados.resultados[i].respostas);
                //     console.log(obj['Português']);
                // }
                var results = JSON.parse(resultados.resultados);
                console.log(results);
                var lista = [];
                for(var jj in results){
                    var res = results[jj]
                    var g = [
                        res.matricula_aluno,
                        res.nome_curso,
                        res.periodo,
                        res.avaliado,
                        res.enunciado,
                        res.respostas.join()
                    ]
                    lista.push(g);
                }

                lista.splice(0,0,saida);
                console.log(lista);
                if (typeof require !== 'undefined') XLSX = require('xlsx');
                var wb = XLSX.utils.book_new();
                var ws = XLSX.utils.aoa_to_sheet(lista);
                XLSX.utils.book_append_sheet(wb, ws, "Resultados");
                XLSX.writeFile(wb, "form1.xlsx", { compression: true });
            }
            else{
                alert("Nenhuma resultado encontrado!!");
            }
        });
    }
</script>
{% endblock %}
