
{% extends "base.html" %}

{% block title %} Professor{% endblock %}

{% block subtitulo %}Professor{% endblock %}

{%- block base_content -%}
<!-- Main -->
<section id="main" class="wrapper alt">
    <div class="inner">
        <section class="spotlights">
            <article>
                <header class="major">
                    <p>Validar</p>
                    <i>
                        <h4>Esse código valerá 10 pontos.</h4>
                    </i>
                </header>
                {%- set codigo = page.codigo -%}
                <div class="row">
                    <div class="9u 12u$(small)">
                        <form action="/validar" method="post">
                            <label for="inp1">Aluno:</label>
                            <input id="inp1" type="text" class="demo-name" name="nome" value="{{ codigo.nomeAluno }}" readonly/>
                            <label for="inp2">Período:</label>
                            <input id="inp2" type="text" class="demo-name" name="periodo" value="{{ codigo.periodo }}" readonly/>
                            <label for="inp3">Código:</label>
                            <input id="inp3" type="text" class="demo-name" name="codigo" value="{{ codigo.codigo }}" readonly/>
                            <br>
                            <button class="button special icon fa-check-square-o" value="validar" style="left:70%">VALIDAR</button>
                        </form>
                    </div>
                </div>
            
            </article>
        </section>
    </div>
</section>
{%- endblock -%}