<!DOCTYPE HTML>
<!--
    Atmosphere by Pixelarity
    pixelarity.com | hello@pixelarity.com
    License: pixelarity.com/license
-->
<html>

<head>
    <title>Matéria</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="../assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body>

    <!-- Page wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <span class="logo">
                <a href="/">Materia</a>
                <span>- MINOS</span>
            </span>
            <a href="#menu">Menu</a>
        </header>

        <!-- Nav -->
        <nav id="menu">
            <div class="inner">
                <h2>Menu</h2>
                <ul class="links">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/login">Administrador</a>
                    </li>
                    <li>
                        <a href="/aluno">Aluno</a>
                    </li>
                    <li>
                        <a href="/professor">Professor</a>
                    </li>
                </ul>
                <a class="close">Close</a>
            </div>
        </nav>

        <section id="main" class="wrapper alt">
            <div class="inner">

                {%- if page.tipo == 1 -%}
                <center>
                    <h1>Criar Matéria</h1>
                </center>

                <form action="/criarmateria" method="post">
                    <section class="spotlights">
                        <article>
                            <center>
                                <h3>Matéria</h3>
                            </center>
                
                            <div class="row">
                                <div class="9u 12u$(small)">
                                    <label for="inp1">Titulo:</label>
                                    <input id="inp1" type="text" class="demo-name" name="titulo" />
                                    <label for="inp2">Professor:</label>
                                    <input id="inp2" type="text" class="demo-name" name="professor" />
                                    <label for="inp3">Periodo:</label>
                                    <input id="inp3" type="text" class="demo-name" name="periodo" />
                                </div>
                            </div>
                        </article>
                    </section>
                    <div class="table-wrapper box" style="overflow: auto;">
                        <center>
                            <h3>Formulários</h3>
                        </center>
                    
                        <div class="box" style="height: 440px; overflow: auto;">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Titulo</th>
                                        <th>Descrição</th>
                                        <th>Opção</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%- for form in page.formularios -%}
                                    <tr>
                                        <td>{{ form.key.id() }}</td>
                                        <td>{{ form.titulo }}</td>
                                        <td>{{ form.descricao }}</td>
                                        <td>
                                            <input id="m{{ loop.index }}" type="checkbox" name="form" value="{{ form.key.id() }}">
                                            <label for="m{{ loop.index }}"></label>
                                        </td>
                                    </tr>
                                    {%-endfor -%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <center>
                            <ul class="actions">
                                <li>
                                    <a href="/admin" class="button">Cancelar</a>
                                </li>
                                <li>
                                    <input type="submit" value="Criar" />
                                </li>
                            </ul>
                        </center>
                    </div>
                </form>

                {%- elif page.tipo == 2 -%}

                <center>
                    <h1>Editar Matéria</h1>
                </center>

                <form action="/editarmateria" method="post">
                    <section class="spotlights">
                        <article>
                            <center>
                                <h3>Matéria</h3>
                            </center>
                
                            <div class="row">
                                <div class="9u 12u$(small)">

                                    <label for="inp1">Titulo:</label>
                                    <input id="inp1" type="text" class="demo-name" name="titulo" value="{{ page.materia.titulo }}" />
                                    <label for="inp2">Professor:</label>
                                    <input id="inp2" type="text" class="demo-name" name="professor" value="{{ page.materia.professor }}" />
                                    <label for="inp3">Periodo:</label>
                                    <input id="inp3" type="text" class="demo-name" name="periodo" value="{{ page.materia.periodo }}" />

                                </div>
                            </div>
                        </article>
                    </section>
                    <div class="table-wrapper box" style="overflow: auto;">
                        <center>
                            <h3>Formulários</h3>
                        </center>
                    
                        <div class="box" style="height: 440px; overflow: auto;">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Titulo</th>
                                        <th>Descrição</th>
                                        <th>Opção</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%- for form in page.formulariost -%}
                                    <tr>
                                        <td>{{ form.key.id() }}</td>
                                        <td>{{ form.titulo }}</td>
                                        <td>{{ form.descricao }}</td>
                                        <td>
                                            <input id="m{{ loop.index }}" type="checkbox" name="form" value="{{ form.key.id() }}" checked>
                                            <label for="m{{ loop.index }}"></label>
                                        </td>
                                    </tr>
                                    {%-endfor -%} {%- for form in page.formulariosnt -%}
                                    <tr>
                                        <td>{{ form.key.id() }}</td>
                                        <td>{{ form.titulo }}</td>
                                        <td>{{ form.periodo }}</td>
                                        <td>
                                            <input id="m1{{ loop.index }}" type="checkbox" name="form" value="{{ form.key.id() }}">
                                            <label for="m1{{ loop.index }}"></label>
                                        </td>
                                    </tr>
                                    {%-endfor -%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <center>
                            <ul class="actions">
                                <li>
                                    <a href="/admin" class="button">Cancelar</a>
                                </li>
                                <li>
                                    <input type="submit" value="Criar" />
                                </li>
                            </ul>
                        </center>
                    </div>
                </form>

                {%- endif -%}

            </div>
        </section>

        <footer id="footer">
            <div class="copyright">
                &copy; IFPB - Campus Guarabira. All rights reserved.
            </div>
        </footer>
    </div>



    <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/skel.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/jquery.scrolly.min.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="../assets/js/main.js"></script>

</body>

</html>