<!DOCTYPE HTML>
<!--
    Atmosphere by Pixelarity
    pixelarity.com | hello@pixelarity.com
    License: pixelarity.com/license
-->
<html>

<head>
    <title>Criar Pergunta</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="../assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body>

    <!-- Page wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <span class="logo">
                <a href="/">Criar Pergunta</a>
                <span>- MINOS</span>
            </span>
            <a href="#menu">Menu</a>
        </header>

        <!-- Nav -->
        <nav id="menu">
            <div class="inner">
                <h2>Menu</h2>
                <ul class="links">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/login">Administrador</a>
                    </li>
                    <li>
                        <a href="/aluno">Aluno</a>
                    </li>
                    <li>
                        <a href="/professor">Professor</a>
                    </li>
                </ul>
                <a class="close">Close</a>
            </div>
        </nav>

        <!-- Main -->
        <section id="main" class="wrapper alt">
            <div class="inner">
                <center>
                    <header class="major">
                        <h2>Criando Pergunta</h2>
                    </header>
                </center>

                <div id="formul" class="box">
                    <form id="formu" action="/criarpergunta" method="post">
                        <table id="tabb">
                        </table>
                        <center>
                            <div>
                                <div class="12u$">
                                    <ul id="botoes1" class="actions">
                                        <center>
                                            <li>
                                                <input type="button" id="add_radio" value="Adicionar questao de escolha única" />
                                            </li>
                                            <li>
                                                <input type="button" id="add_texto" value="Adicionar questao Aberta" />
                                            </li>
                                            <li>
                                                <input type="button" id="add_marcar" value="Adicionar questao de múltipla escolha" />
                                            </li>
                                        </center>
                                    </ul>
                                    <ul class="actions">
                                        <li>
                                            <a href="/admin" class="button">Cancelar</a>
                                        </li>
                                        <li>
                                            <input type="submit" value="Proxima Questao" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </center>
                    </form>
                </div>
            </div>
        </section>
        <footer id="footer">
            <div class="copyright">
                &copy; IFPB - Campus Guarabira. All rights reserved.
            </div>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/skel.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/jquery.scrolly.min.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/extra.js"></script>
</body>

</html>