<!DOCTYPE HTML>
<!--
    Atmosphere by Pixelarity
    pixelarity.com | hello@pixelarity.com
    License: pixelarity.com/license
-->
<html>

<head>
    <title>Editar Formulário</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="../assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body>

    <!-- Page wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <span class="logo">
                <a href="index.html">Editar Formulário</a>
                <span>- MINOS</span>
            </span>
            <a href="#menu">Menu</a>
        </header>

        <!-- Nav -->
        <nav id="menu">
            <div class="inner">
                <h2>Menu</h2>
                <ul class="links">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/login">Administrador</a>
                    </li>
                    <li>
                        <a href="/aluno">Aluno</a>
                    </li>
                    <li>
                        <a href="/professor">Professor</a>
                    </li>
                </ul>
                <a class="close">Close</a>
            </div>
        </nav>

        <!-- Main -->
        <section id="main" class="wrapper alt">
            <div class="inner">

                <center>
                    <h1>Editar Formulário</h1>
                </center>

                <form action="/editarformulario" method="post">
                    <input type="hidden" name="id" value="{{ page.formulario.key.id() }}">
                    <section class="spotlights">
                    <article>
                    <center>
                        <h3>Formulário</h3>
                    </center>

                    <div class="row">
                        <div class="9u 12u$(small)">
                            <label for="inp1">Titulo:</label>
                            <input id="inp1" type="text" class="demo-name" name="titulo" value="{{ page.formulario.titulo }}" />
                            <label for="inp2">Descricao:</label>
                            <input id="inp2" type="text" class="demo-name" name="descricao" value="{{ page.formulario.descricao }}" />
                        </div>
                    </div>
                    </article>
                </section>

                    <center>
                        <h3>Alunos</h3>
                    </center>
                    <div class="table-wrapper box" style="overflow: auto;">
                        <table>
                            <thead>
                                <tr>
                                    <th>Matricula</th>
                                    <th>Nome</th>
                                    <th>Periodo</th>
                                    <th>Opção</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%- for aluno in page.alunos -%}
                                <tr>
                                    <td>{{ aluno.matricula }}</td>
                                    <td>{{ aluno.nome }}</td>
                                    <td>{{ aluno.periodo }}</td>
                                    <td>
                                        <input id="a{{ loop.index }}" type="checkbox" name="aluno" value="{{ aluno.matricula }}">
                                        <label for="a{{ loop.index }}"></label>
                                    </td>
                                </tr>
                                {%-endfor -%}
                            </tbody>
                        </table>
                    </div>

                    <center>
                        <h3>Matérias</h3>
                    </center>
                    <div class="table-wrapper box" style="overflow: auto;">
                        <table>
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Titulo</th>
                                    <th>Periodo</th>
                                    <th>Opção</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%- for mat in page.materias -%}
                                <tr>
                                    <td>{{ mat.key.id() }}</td>
                                    <td>{{ mat.titulo }}</td>
                                    <td>{{ mat.periodo }}</td>
                                    <td>
                                        <input id="m{{ loop.index }}" type="checkbox" name="mat" value="{{ mat.key.id() }}">
                                        <label for="m{{ loop.index }}"></label>
                                    </td>
                                </tr>
                                {%-endfor -%}
                            </tbody>
                        </table>
                    </div>

                    <center>
                        <h3>Perguntas</h3>
                    </center>
                    <div class="table-wrapper box" style="overflow: auto;">
                        <table>
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Enunciado</th>
                                    <th>Opção</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%- for perg in page.perguntas -%}
                                <tr>
                                    <td>{{ perg.key.id() }}</td>
                                    <td>{{ perg.enunciado }}</td>
                                    <td>
                                        <input id="p{{ loop.index }}" type="checkbox" name="perg" value="{{ perg.key.id() }}">
                                        <label for="p{{ loop.index }}"></label>
                                    </td>
                                </tr>
                                {%-endfor -%}
                            </tbody>
                        </table>
                    </div>

                    <div class="12u$">
                        <center>
                            <ul class="actions">
                                <li>
                                    <a href="/admin" class="button">Cancelar</a>
                                </li>
                                <li>
                                    <input type="submit" value="Criar" />
                                </li>
                            </ul>
                        </center>
                    </div>
                </form>
            </div>
        </section>

        <footer id="footer">
            <div class="copyright">
                &copy; IFPB - Campus Guarabira. All rights reserved.
            </div>
        </footer>
    </div>



    <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/skel.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/jquery.scrolly.min.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="../assets/js/main.js"></script>

</body>

</html>