<!DOCTYPE HTML>
<!--
	Atmosphere by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>

<head>
	<title>Formulário</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="../assets/css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body>

	<!-- Page wrapper -->
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<span class="logo">
				<a href="index.html">Formulário</a>
				<span>- MINOS</span>
			</span>
			<!-- <a href="#menu">Menu</a> -->
		</header>

		<!-- Nav
		<nav id="menu">
			<div class="inner">
				<h2>Menu</h2>
				<ul class="links">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="generic.html">Generic</a>
					</li>
					<li>
						<a href="elements.html">Elements</a>
					</li>
					<li>
						<a href="#">Log In</a>
					</li>
					<li>
						<a href="#">Sign Up</a>
					</li>
				</ul>
				<a class="close">Close</a>
			</div>
		</nav> -->

		<!-- Main -->
		<section id="main" class="wrapper alt">
			<div class="inner">
				{% set questao = formulario.questao %}
				<!-- Content -->
				<header class="major">
					<p>{{ formulario.titulo }}</p>
					<h2>Questão {{ questao.numero }}</h2>
				</header>
				<center>
					<h1> {{ questao.enunciado }} </h1>
				</center>
				<center>
					<hr align="center" width="1000" size="1" color=grey>
				</center>
				<form action="{{ formulario.url }}" method="post">
					<h3>Respostas:</h3>
					<div class="row uniform center">
						{% for materia in questao.materias %}
							{% if questao.tipo == "texto" %}
								<div class="row">
									<h3> {{ questao.materias[materia].nome }}:</h3>
									<div class="9u 12u$">
										<textarea name="{{ questao.materias[materia].nome }}" id="demo-message" placeholder="Digite aqui sua resposta" rows="6"></textarea>
									</div>
								</div>
							{% elif questao.tipo == "radio" %}
								<div class="row">
									<h3>{{ questao.materias[materia].nome }}:</h3>
									<div class="9u 12u$(small)">
										{% for opcao in questao.materias[materia].respostas %}
											<input id="{{ loop.index }}" type="radio" name="{{ questao.materias[materia].nome }}" value="{{ opcao }}">
											<label for="{{ loop.index }}">{{ opcao }}</label>
										{% endfor %}
									</div>
								</div>

							{% else %}
								<div class="row">
									<h3>{{ questao.materias[materia].nome }}:</h3>
									<div class="9u 12u$(small)">
										{% for opcao in questao.materias[materia].respostas %}
											<input id="{{ loop.index }}" type="checkbox" name="{{ questao.materias[materia].nome }}" value="{{ opcao }}">
											<label for="{{ loop.index }}">{{ opcao }}</label>
										{% endfor %}
									</div>
								</div>
							{% endif %}
						{% endfor %}

						<center>
							<hr align="center" width="1000" size="1" color=grey>
						</center>
						<div class="12u$">
							<ul class="actions"> 
								<center>
									<li>
										<input type="submit" value="Enviar resposta" />
									</li>
									<li>
										<input type="reset" value="Resetar" class="alt" />
									</li>
								</center>
							</ul>
						</div>
					</div>
				</form>
			</div>
		</section>

		<!-- Scripts -->
		<script src="../assets/js/jquery.min.js"></script>
		<script src="../assets/js/skel.min.js"></script>
		<script src="../assets/js/util.js"></script>
		<script src="../assets/js/jquery.scrollex.min.js"></script>
		<script src="../assets/js/jquery.scrolly.min.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="../assets/js/main.js"></script>

</body>

</html>