<!Doctype>
<html>
<h1>Titulo da pergunta multipla escolha</h1>
<p>Pergunta</p>
<form method="POST">
    <input type="checkbox" name="1"> Escolha 1
    <br>
    <input type="checkbox" name="2"> Escolha 2
    <br>
    <input type="checkbox" name="3"> Escolha 3
    <br>
    <input type="checkbox" name="4"> Escolha 4
    <br>
    <input type="checkbox" name="5"> Escolha 5


    <h1>Titulo da pergunta de uma escolha</h1>
    <p>De 1 a 5, qual nota daria ao campus em geral?</p>

    <input type="radio" name="Opcao" value="Péssimo"> Péssimo
    <br>
    <input type="radio" name="Opcao" value="Ruim"> Ruim
    <br>
    <input type="radio" name="Opcao" value="Regula"> Regular
    <br>
    <input type="radio" name="Opcao" value="Bom"> Bom
    <br>
    <input type="radio" name="Opcao" value="Ótimo"> Ótimo


    <h1>Titulo da pergunta de sim ou não</h1>
    <p>O Campus é legal?</p>

    <input type="radio" name="Opcao1" value="Sim"> Sim
    <br>
    <input type="radio" name="Opcao1" value="Não"> Não
    <br>

    <h2>Pergunta aberta</h2>
    <p>blablalvla</p>

    <textarea rows="5" cols="80"></textarea>
    <br>
</form>

</html>