
{% macro tabela(title, group_objects_h=[], group_objects_nh=[], button="" ) %}
<div class="box">
    {%- set titulo = {
        "formulario": "Formulários",
        "aluno": "Alunos",
        "materia": "Matérias",
        "pergunta": "Perguntas"
    } -%}

    {%- if button -%}
    <div class="row uniform">
        <div class="6u 12u$(medium)">
            <center>
            <Header>
                <h1>{{ titulo[title] }}</h1>
            </Header>
            </center>
        </div>
        <div class="6u$ 12u$(medium)">
            <center>
            <ul class="actions">
                <li>
                    <a href="/{{ button }}" class="button special big">ADICIONAR</a>
                </li>
            </ul>
        </center>
        </div>
    </div>
    {%- else -%}
    <center>
        <h3>{{ titulo[title] }}</h3>
    </center>
    {%- endif -%}
    {%- set obj_tabela = {
        "formulario": {
            "heads": ["Id", "Titulo", "Descrição","Opção"],
            "values": ["user_id", "titulo", "descricao"]
        },
        "materia": {
            "heads": ["Id", "Titulo", "Periodo","Opção"],
            "values": ["user_id", "titulo", "periodo"]
        },
        "pergunta": {
            "heads": ["Id", "Enunciado", "Tipo","Opção"],
            "values": ["user_id", "enunciado", "tipo"]
        },
        "aluno": {
            "heads": ["Id", "Titulo", "Descrição","Opção"],
            "values": ["user_id", "nome", "periodo"]
        }
    } -%}

    <div class="table-wrapper box" style="height: 440px;">
        <table>
            <thead>
                <tr>
                    {%- for head in obj_tabela[title].heads -%}
                    <th>{{ head }}</th>
                    {%- endfor -%}
                </tr>
            </thead>
            <tbody>
                {%- for object in group_objects_h -%}
                <tr>
                    {%- for i in range( obj_tabela[title]['values'] | length ) -%}
                    <td>{{ object[ obj_tabela[title]['values'][i] ]  }}</td>
                    {%- endfor -%}
                    <td>
                        <input id="m1{{ loop.index }}" type="checkbox" name="{{ title }}" value="{{ object.user_id }}" checked>
                        <label for="m1{{ loop.index }}"></label>
                    </td>
                </tr>
                {%- endfor -%}
                {%- for object in group_objects_nh -%}
                <tr>
                    {%- for j in range( obj_tabela[title]['values'] | length ) -%}
                    <td>{{ object[ obj_tabela[title]['values'][j] ] }}</td>
                    {%- endfor -%}
                    {%- if button -%}
                    <td>
                        <ul class="icons">
                            <li>
                                <a href="/editar{{ title }}?id={{ object.user_id }}" class="icon fa-pencil-square-o"></a>
                            </li>
                            <li>
                                <a href="/apagar{{ title }}?id={{ object.user_id }}" class="icon fa-trash-o"></a>
                            </li>
                        </ul>
                    </td>
                    {%- else -%}
                    <td>
                        <input id="m{{ loop.index }}" type="checkbox" name="{{ title }}" value="{{ object.user_id }}">
                        <label for="m{{ loop.index }}"></label>
                    </td>
                    {%- endif -%}

                </tr>
                {%- endfor -%}
            </tbody>
        </table>
    </div>
</div>
{%- endmacro -%}

{%- macro campos_texto(title, campos_p=None) -%}
<section class="spotlights">
    <article>
        {%- set titulo = {
            "formulario": "Formulário",
            "aluno": "Aluno",
            "materia": "Matéria",
            "pergunta": "Pergunta"
        } -%}
        <center>
            <h3>{{ titulo[title] }}</h3>
        </center>

        {%- set names = {
            "formulario": ["Titulo","Descricao"],
            "materia": ["Titulo", "Professor", "Periodo"],
            "aluno": ["Matricula", "Nome", "Periodo"]
        }-%}

        <div class="row">
            <div class="9u 12u$(small)">
                {%- if campo_p -%}
                {%- for campo in names[title] -%}
                <label for="inp{{ loop.index }}">{{ campo }}:</label>
                <input id="inp{{ loop.index }}" type="text" class="demo-name" name="{{ campo | lower }}" value="{{ page.materia.titulo }}" />
                <label for="inp2">Professor:</label>
                <input id="inp2" type="text" class="demo-name" name="professor" value="{{ page.materia.professor }}" />
                <label for="inp3">Periodo:</label>
                <input id="inp3" type="text" class="demo-name" name="periodo" value="{{ page.materia.periodo }}" />
                {%- endfor -%}
                {%- else -%}
                {%- for campo in names[title] -%}
                <label for="inp{{ loop.index }}">{{ campo }}:</label>
                <input id="inp{{ loop.index }}" type="text" class="demo-name" name="{{ campo | lower }}" value="{{ campos_p[ campo | lower ] }}" />
                {%- endfor -%}
                {%- endif -%}

            </div>
        </div>
    </article>
</section>
{%- endmacro -%}