<!DOCTYPE HTML>
<!--
	Atmosphere by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>

<head>
	<title>Formulários</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="../assets/css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body>

	<!-- Page wrapper -->
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<span class="logo">
				<a href="index.html">Formulários</a>
				<span>- Minos</span>
			</span>
        </header>

	<!-- Main -->
	<section id="main" class="wrapper alt">
		<div class="inner">
			<section class="spotlights">
				<article>
					<header class="major">
						<p>Pegue seu código</p>
						<i>
							<h4>Esse código valerá 10 pontos </h4>
                        </i>
                        <input type="text" class="demo-name" value="1110010" >
                        <a href="#"class="button special fit small" value="COPIAR">COPIAR</a>
					</header>
				</article>
			</section>
		</div>
	</section>
	<!-- Footer -->
	<footer id="footer">
		<div class="copyright">
			&copy; Untitled. All rights reserved.
		</div>
	</footer>

	</div>

	<!-- Scripts -->
	<script src="../assets/js/jquery.min.js"></script>
	<script src="../assets/js/skel.min.js"></script>
	<script src="../assets/js/util.js"></script>
	<script src="../assets/js/jquery.scrollex.min.js"></script>
	<script src="../assets/js/jquery.scrolly.min.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="../assets/js/main.js"></script>

</body>

</html>
