<!DOCTYPE HTML>
<!--
    Atmosphere by Pixelarity
    pixelarity.com | hello@pixelarity.com
    License: pixelarity.com/license
-->
<html>

<head>
    <title>Gratificação</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="../assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body>

    <!-- Page wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <span class="logo">
                <a href="index.html">Gratificação</a>
                <span>- Minos</span>
            </span>
            <a href="#menu">Menu</a>
        </header>

        <!-- Nav -->
        <nav id="menu">
            <div class="inner">
                <h2>Menu</h2>
                <ul class="links">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/login">Administrador</a>
                    </li>
                    <li>
                        <a href="/aluno">Aluno</a>
                    </li>
                    <li>
                        <a href="/professor">Professor</a>
                    </li>
                </ul>
                <a class="close">Close</a>
            </div>
        </nav>

        <!-- Main -->
        <section id="main" class="wrapper alt">
            <div class="inner">
                <section class="spotlights">
                    <article>
                        <header class="major">
                            <p>Pegue seu código</p>
                            <i>
                                <h4>Esse código valerá 10 pontos </h4>
                            </i>
                        </header>
                        <div class="row">
                            <div class="9u 12u$(small)">
                                <input id="textcod" type="text" class="demo-name" value="{{ codigo }}" readonly />
                            </div>
                            <div class="3u$ 12u$(small)">
                                <button onclick="copytoclipboard('#textcod')" class="button special icon fa-clipboard" value="COPIAR">COPIAR</button>
                            </div>
                        </div>
                        <div>
                            <br>
                            <a href="/formularios" class="button special">FINALIZAR FORMULARIO</a>
                        </div>
                    </article>
                </section>
            </div>
        </section>
        <!-- Footer -->
        <footer id="footer">
            <div class="copyright">
                &copy; IFPB - Campus Guarabira. All rights reserved.
            </div>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/skel.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/jquery.scrolly.min.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="../assets/js/main.js"></script>
    <script>
        function copytoclipboard(element) {
            var copyTextarea = document.querySelector(element);
            copyTextarea.select();
            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
                console.log('Copying text command was ' + msg);
            } catch (err) {
                console.log('Oops, unable to copy');
            }
        };
    </script>

</body>

</html>