{% extends "base.html" %}

{% block content %}

<form action="/disciplinas" method="post">

{% for p in curso.periodos %}
	{% if p.id in ["p1", "p3"] %}
		<div>
	{% endif %}
	
	<spam>
	<h3>{{ p.nome }}</h3>

	{% for d in p.disciplinas %}
		<label>
			<input type="checkbox" name="d" value="{{ d.id }}"> {{ d.nome }}
		</label><br/>
	{% endfor %}
	</spam>

	{% if p.id in ["p2", "p4"] %}
		</div>
	{% endif %}
{% endfor %}

<br/>

<div><input type="submit" value="Avaliar"></div>

</form>

{% endblock %}
