{% extends "base.html" %}

{% block title %}Minos - IFPB Guarabira{% endblock %}

{% block subtitulo %}IFPB Guarabira{% endblock %}

{% set alt = "alt" %}

{% block base_content %}

<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<p>Sistema de Avaliação de Cursos</p>
			<h1>IFPB Campus Guarabira</h1>
			<ul class="actions">
				<li><a href="#one" class="button big special scrolly">Iniciar</a></li>
			</ul>
		</div>
	</section>

<!-- One -->
	<section id="one" class="wrapper">
		<div class="inner">
			<header class="major alt">
				<p>Sobre a Avaliação</p>
			</header>
			<section class="posts">
				<article>
					<div class="content">
						<br/>
						<p>As informações fornecidas neste site serão utilizadas para avaliar:</p>

						<ul>
							<li>O trabalho desenvolvido pelas coordenações de curso;</li>
							<li> A qualidade dos serviços administrativos e da estrutura do campus;</li>
							<li> O trabalho desenvolvido pelos professores.</li>
						</ul>

						<p>Os resultados obtidos servirão para melhorar a qualidade dos cursos e do campus.</p>

						<p>Suas respostas podem fazer a diferença!</p>

						<ul class="actions">
							<li><a href="#two" class="button big special scrolly">Entendi</a></li>
						</ul>
					</div>
				</article>
			</section>
		</div>
	</section>

<!-- Two -->
	<section id="two" class="wrapper style1 special">
		<div class="inner">
			<ul class="features">
				<li>
					<span class="icon major fa-bar-chart"></span>
					<h4>Placerat</h4>
					<p>Lorem ipsum dolor sit amet nullam et consequat.</p>
				</li>
				<li>
					<span class="icon major fa-paper-plane-o"></span>
					<h4>Libero</h4>
					<p>Lorem ipsum dolor sit amet nullam et consequat.</p>
				</li>
				<li>
					<span class="icon major fa-area-chart"></span>
					<h4>Solicitu</h4>
					<p>Lorem ipsum dolor sit amet nullam et consequat.</p>
				</li>
				<li>
					<span class="icon major fa-file-image-o"></span>
					<h4>Tempor</h4>
					<p>Lorem ipsum dolor sit amet nullam et consequat.</p>
				</li>
			</ul>
		</div>
	</section>

{% endblock %}
