<!DOCTYPE HTML>
<!--
    Atmosphere by Pixelarity
    pixelarity.com | hello@pixelarity.com
    License: pixelarity.com/license
-->
<html>

<head>
    <title>Avaliação de Curso - CST</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="../assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body id="matricula">

    <!-- Page wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <span class="logo">
                <a href="/">Acesso da Administração</a>
                <span>- Minos</span>
            </span>
            <a href="#menu">Menu</a>
        </header>

        <!-- Nav -->
        <nav id="menu">
            <div class="inner">
                <h2>Menu</h2>
                <ul class="links">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/login">Administrador</a>
                    </li>
                    <li>
                        <a href="/aluno">Aluno</a>
                    </li>
                    <li>
                        <a href="/professor">Professor</a>
                    </li>
                </ul>
                <a class="close">Close</a>
            </div>
        </nav>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <form action="/login" method="post">
                    <center>
                        <h2>Acesso ao Sistema</h2>
                        <h1>CST em Gestão Comercial</h1>
                        <div class="field half first">
                            <label for="user">Usuario</label>
                            <center>
                                <input autofocus name="usuario" id="user" type="text" placeholder="Usuario" />
                            </center>
                        </div>

                        <div class="field half first">
                            <label for="senha">Senha</label>
                            <center>
                                <input name="senha" id="senha" type="text" placeholder="Senha" />
                            </center>
                        </div>

                        <ul class="actions">
                            <li>
                                <input value="Enviar" class="button big" type="submit">
                            </li>
                        </ul>
                    </center>
                </form>
            </div>

            <div class="copyright">
                &copy; IFPB - Campus Guarabira. All rights reserved.

            </div>
        </footer>

        <!-- Scripts -->
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/skel.min.js"></script>
        <script src="../assets/js/util.js"></script>
        <script src="../assets/js/jquery.scrollex.min.js"></script>
        <script src="../assets/js/jquery.scrolly.min.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="../assets/js/main.js"></script>
    </div>

</body>

</html>