<!DOCTYPE HTML>
<!--
	Atmosphere by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Avaliação de Curso - CST</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body  id="matricula"> 
		
		<!-- Page wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><a href="index.html">Avaliação de Curso</a> <span>- Minos</span></span>
						<a href="#menu">Menu</a>
					</header>

				<!-- Nav -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="index.html">Home</a></li>
								<li><a href="generic.html">Generic</a></li>
								<li><a href="elements.html">Elements</a></li>
								<li><a href="#">Log In</a></li>
								<li><a href="#">Sign Up</a></li>
							</ul>
							<a class="close">Close</a>
						</div>
					</nav>

			

				
				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
						
							<form action="/avaliar" method="post">
							<center>	<h2>Avaliação de Curso</h2>
							<h1>CST em Gestão Comercial</h1>
								<div class="field half first">
									<label for="name">Name</label>
									<center><input name="name" id="name" type="text" placeholder="Matrícula"></center>
								</div>
								
								<ul class="actions">
									<li>
										<input value="Avaliar" class="button big" type="submit">
									</li>
								</ul>
							</center>
							</form>
						</div>
						
						<div class="copyright">
							&copy; IFPB - Campus Guarabira. All rights reserved.
							<p>Rua: Professor Carlos Leonardo Arcoverde, S/N, PB 057, Km 02 
								Cidade: Guarabira</p>
						</div>
					</footer>
					

			

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>

</div>

</html>
