
<!DOCTYPE HTML>
<!--
    Atmosphere by Pixelarity
    pixelarity.com | hello@pixelarity.com
    License: pixelarity.com/license
-->
<html>

<head>
    <title>Minos - Admin </title>
    <link rel="icon" sizes="256x160" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" sizes="256x160" href="favicon.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-reboot.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-reboot.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-grid.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-grid.css" > -->
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    
</head>

<body>

    <!-- Page wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="{{ alt }}">
            <span class="logo">
                <a href="/">MINOS - Admin</a>
            </span>
            <a href="#menu">Menu</a>
        </header>

        <!-- Nav -->
        <nav id="menu">
            <div class="inner">
                <h2>Menu</h2>
                <ul class="links">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/login">Administrador</a>
                    </li>
                    <!-- <li>
                        <a href="/aluno">Aluno</a>
                    </li> -->
                    <li>
                        <a href="/professor">Professor</a>
                    </li>
                </ul>
                <a class="close">Close</a>
            </div>
        </nav>

        <section id="banner">
            <div class="inner">
                <form action="/login" method="post">
                    <center>
                        <h1> CURSOS</h1>
                        <ul class="actions">
                            <li>
                                   <input class="button big special" type="submit" value="INFORMÁTICA">
                            </li>
                        </ul>

                                     <ul class="actions">
                            <li>
                                   <input class="button big special" type="submit" value="EDIFICAÇÕES">
                            </li>
                        </ul>
                                     <ul class="actions">
                            <li>
                                   <input class="button big special" type="submit" value="CONTABILIDADE">
                            </li>
                        </ul>

                         <ul class="actions">
                            <li>
                                   <input class="button big special" type="submit" value="GESTÃO COMERCIAL">
                            </li>
                        </ul>


                        </center>
                </form>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <div class="copyright">
                &copy; IFPB Guarabira
            </div>
        </footer>

    </div>

    <!-- Scripts -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" ></script> -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
</body>

</html>